@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&family=Edu+TAS+Beginner:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-hover {
    background: #ddd6f3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #faaca8,
      #ddd6f3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #faaca8,
      #ddd6f3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .bg-sugar {
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(117, 136, 228, 1) 13%,
      rgba(123, 63, 254, 1) 34%,
      rgba(61, 254, 209, 1) 100%,
      rgba(61, 255, 115, 1) 100%,
      rgba(61, 255, 132, 1) 100%
    );
  }
  .bg_light {
    background: rgb(58, 169, 180);
    background: linear-gradient(
      230deg,
      rgba(58, 169, 180, 1) 0%,
      rgba(89, 151, 193, 1) 0%,
      rgba(94, 64, 215, 0.6087477227219013) 0%,
      rgba(253, 29, 29, 1) 0%,
      rgba(236, 252, 69, 1) 100%,
      rgba(62, 216, 216, 0.9224732129179797) 100%
    );
  }
}

.me {
  font-family: "Edu QLD Beginner", cursive;
}
.intro {
  font-family: "Edu TAS Beginner", cursive;
}
.active {
  color: white;
  background: rgb(47, 50, 63);
  border-radius: 8%;
}
.bg-special {
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-mid {
  background: rgb(58, 169, 180);
  background: linear-gradient(
    230deg,
    rgba(58, 169, 180, 1) 0%,
    rgba(64, 82, 215, 1) 0%,
    rgba(89, 151, 193, 1) 21%,
    rgba(102, 216, 62, 1) 100%,
    rgba(92, 29, 253, 1) 100%,
    rgba(236, 252, 69, 1) 100%
  );
}
